<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    
    <div class="pedidos-container">
        <div th:each="cliente : ${clientes}" class="pedido-cards">
            
            <div class="card-content">
                <h2>Cliente #<span th:text="${cliente.userID}"></span></h2>
                <p><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
                <p><strong>Apellido:</strong> <span th:text="${cliente.apellido}"></span></p>
                <p><strong>Telefono:</strong> <span th:text="${cliente.numeroTelefonico}"></span></p>
            </div>
            
            <div class="card-actions">
                <a th:href="@{'/representante/clientes/edit/' + ${cliente.userid}}" 
                   class="btn-editar">Editar</a>
                   
                <form th:action="@{/representante/clientes/eliminar/{userid}(userid=${cliente.userid})}" 
                      method="post" 
                      onsubmit="return confirmarEliminar(this);">  
                      
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn-danger">Eliminar</button> 
                </form>
            </div>
        </div>
    </div>
</div>