<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <header>
        <h1>Panel de Administración</h1>
    </header>

    <main>
        <div th:fragment="content">
            <!-- Aquí Thymeleaf insertará el contenido dinámico -->
        </div>
    </main>

    <footer>
        <p>© 2025 BidCom</p>
    </footer>
</body>
</html>
