<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel de Gestión</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <header class="main-header">
        <img src="/img/BidComStore_logo.png" alt="BidCom Store Logo" class="header-logo">
        

        </th:block>
        <nav class = "sub-nav-links">
            <!-- Menú dinámico según el rol -->
            <ul>
                <li th:if="${#authorization.expression('hasRole(''ADMINISTRADOR'')')}">
                    <a th:href="@{/admin/usuarios}" class="sub-link">Usuarios</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMINISTRADOR'')')}">
                    <a th:href="@{/admin/productos}" class="sub-link">Productos</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''REPRESENTANTE_VENTAS'')')}">
                    <a th:href="@{/representante/clientes}" class="sub-link">Clientes</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''REPRESENTANTE_VENTAS'')')}">
                    <a th:href="@{/representante/pedidos}" class="sub-link">Pedidos</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
                    <a th:href="@{/cliente/mispedidos}" class="sub-link">Mis pedidos</a>
                </li>
            </ul>
        </nav>
        
        <nav class = "sub-nav-links">
            <ul>
                <li>
                    <a th:href="@{/logout}" class="sub-link">Cerrar Sesion</a> 
                </li>
            </ul>
    </header>

    <main>
        <div class="content-wrapper ">
            <!-- Botón Crear (solo aparece si se pasa la variable crearUrl) -->
            <th:block th:if="${crearUrl != null}">
                <a th:href="${crearUrl}" class="btn-crear">+ Crear</a>
                <div th:replace="~{${fragment} :: content}"></div>
        </div>
    </main>


    <footer>
        <p>© 2025 BidCom</p>
    </footer>
    <script th:src="@{/js/global.js}"></script>
</body>
</html>

